apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../../base

commonLabels:
  component: dbnet-{{ env }}

namePrefix: dbnet-{{ env }}-

images:
- name: busybox
  newName: {{ dbnet_image.name }}
  newTag: {{ dbnet_image.tag }}

patches:
- patch: |-
    - op: replace
      path: "/spec/template/spec/containers/0/name"
      value: dbnet
  target:
      group: apps
      version: v1
      kind: Deployment
      labelSelector: "app=razmetka"
