apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
bases:
- ../../../base

commonLabels:
  component: tesseract

namePrefix: tesseract-dev-

images:
- name: busybox
  newName: {{ tesseract_image.name }}
  newTag: {{ tesseract_image.tag }}

patches:
  - patch: |-
      - op: replace
        path: "/spec/ports/0/port"
        value: {{ tesseract_image.port }}
      - op: replace
        path: "/spec/ports/0/targetPort"
        value: {{ tesseract_image.port }}
    target:
      version: v1
      kind: Service
      labelSelector: "app=markup"
  - patch: |-
      - op: replace
        path: "/spec/template/spec/containers/0/name"
        value: tesseract
      - op: replace
        path: "/spec/template/spec/containers/0/ports/0/containerPort"
        value: {{ tesseract_image.port }}
      - op: replace
        path: "/spec/template/spec/containers/0/livenessProbe/httpGet/port"
        value: {{ tesseract_image.port }}
    target:
      group: apps
      version: v1
      kind: Deployment
      labelSelector: "app=markup"

